[Unit]
Description=IPFS daemon
After=network.target

[Service]
ExecStart=/usr/local/bin/ipfs daemon --enable-pubsub-experiment

[Install]
WantedBy=multiuser.target